<div class="row">
<form role="form" method="post" class="form-inline" action="">
    <div class="form-group">
      <label for="barcode">Штрихкод</label>
      <input  name="barcode" type="text" class="form-control" id="barcode" placeholder="Введите штрихкод">
    </div>
    <div class="form-group">
        <label for="name">Название</label>
        <input name="name" type="text" class="form-control" id="name" placeholder="Введите Имя">
    </div>
    <div class="form-group">
        <label for="amount">Количество</label>
        <input name="amount" type="text" class="form-control" id="amount" placeholder="Количество">
    </div>
    <button type="submit" class="btn btn-success">Отправить</button>
</form>
  </div>